{% extends "::layoutAdmin.html.twig" %}

{% block body %}
    <h1>Liste des personnels :</h1>
    <a href="{{path('Ajout_Personnel')}}"><button class="btn btn-success">Ajouter Personnel</button></a>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>LieuNaissance</th>
            <th>Ville</th>
            <th>Sexe</th>
            <th>Action</th>
        </tr>
        </thead>
        {% for mem in membre %}
        <tbody>
        <tr>
            <td><a href="{{ path('infos_Membre', { 'id': mem.id }) }}">{{ mem.nom }}</a></td>
            <td>{{ mem.prenom }}</td>
            <td>{{ mem.lieuxNaissance }}</td>
            <td>{{ mem.ville }}</td>
            <td>{{ mem.sexe }}</td>
            <td><a href="{{ path('modifier_Membre',{'id':mem.id}) }}"><button class="btn btn-primary">Modifier</button></a><a href="{{ path('DeletetMembre',{'id':mem.id,'username':mem.login}) }}"><button class="btn btn-danger">Supprimer</button></a></td>
        </tr>
        {% else %}
            <p>Aucun personnel n'a été trouvé.</p>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


