{% extends '::base.html.twig' %}

{% block body %}

    <script>
        //#form_pays représente la liste déroulante des pays, on lui indique de lancer une fonction au changement de choix dans la liste déroulante grâce à ".change(...).
        $("#gestion_uebundle_ue_filiere").change(function() {
            $.ajax({
         //On lui indique le type d'envoie des informations
                        type: 'POST',
         //On lui indique le chemin de la fonction
                        url: '{{ path('UE_Ajouter') }}',
         //On lui donne la valeur du choix qu'on a fait, et id est la variable qui va contenir notre valeur, nous la retrouvons dans notre controller
                        data: 'id=' + $(this).val(),
         //Enfin nous lui disons de remplir notre formulaire avec le resultat
                        success: function(response)
                        {
                            $('#gestion_uebundle_ue_niveau').find("option").remove();
                            $.each(response, function(i, item) {
                                $('#gestion_uebundle_ue_niveau').append(new Option(item, i));
                            });
                        }
                    }
            )});
    </script>

{{ form_start(form,{'attr':{'action':path('UE_Ajouter')}}) }}

    <div class="form-group">
        <label for="gestion_filierebundle_filiere_intitule">{{ form_label(form.intitule) }}</label>
        {{ form_widget(form.intitule) }}
    </div>

    <div class="form-group">
        <label for="gestion_uebundle_ue_niveau">{{ form_label(form.niveau) }}</label>
        {{ form_widget(form.niveau) }}
    </div>

    <div class="form-group">
        <label for="gestion_uebundle_ue_filiere">{{ form_label(form.filiere) }}</label>
        {{ form_widget(form.filiere) }}
    </div>

    <div>
    {{ form_rest(form) }}
    </div>

{{ form_end(form) }}


{% endblock %}