{% extends '::layoutAdmin.html.twig' %}
{% block body %}
    <h1>Modifier le note de l'étudiant(e) : <b>{{ notes.etudiant }}</b></h1>

    <div id="wrapper">
    <div class="demo">
    <form action="{{ path('Valider_Modif_Note',{'id':notes.id}) }}" method="post" id="myFormNiveau" class="form-inline">
        <!-- select Matière -->
        <div class="control-group">
            <select id="select-matieres" multiple name="matiere" class="demo-default" style="width:50%">
                <option value="">Choisir la matière...</option>
                {% if matiere is not empty %}
                    {% for mat in matiere %}
                        <option value={{mat.nomMatiere}}>{{mat.nomMatiere}}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <br>
        <!-- saisir note -->
        <div class="control-group">
            <input type="text"  name="note" placeholder="note à affecter" value="{{ notes.note }}">
        </div>
        <br>
        <!-- saisir type d'examen -->
        <div class="control-group">
            <label for="session">Type du devoir</label><br>
            <select name="type">
                <option value="">Choisir le type du devoir...</option>
                <option value="Devoir Surveillé">Devoir Surveillé</option>
                <option value="Controle Continue">Controle Continue</option>
                <option value="Examen Principal">Examen Principal</option>
            </select>
        </div>
        <br>
        <!-- saisir session d'examen -->
        <div class="control-group">
        <label for="session">Session du devoir</label>
        <input type="radio" name="session" value="Principale" checked />  <strong>Principale</strong>
        <input type="radio" name="session" value="{{ notes.session }}" />  <strong>Contrôle</strong>
        </div>

        <br>
        <input type="hidden" name="nomEtudiant"  value="{{ notes.etudiant }}" >
        <input type="submit" value="Enregistrer" type="button" class="btn btn-success">
    </form>

    <div class="control-group">


    </div>


    <!-- filtrer la liste des groupe selon la classe séléctionnée -->
    <script type="text/javascript">
        (function($) {
            $('#class_selectbox').change(function(){
                var idClasse = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "{{ url('groupe_list_ajax_call') }}?classe_id=" + idClasse,
                    success: function(data) {
                        // Remove current options
                        $('#groupe_list').html('');
                        $.each(data, function(k, v) {
                            $('#groupe_list').append('<option value="' + v + '">' + k + '</option>');
                        });
                    }
                });
                return false;
            });
        })(jQuery);
    </script>

    <!-- filtrer la liste des étudiants selon la classe séléctionnée -->
    <script type="text/javascript">
        (function($) {
            $('#groupe_list').change(function(){
                var idGroupe = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "{{ url('etudiant_list_ajax_call') }}?groupe_id=" + idGroupe,
                    success: function(data) {
                        // Remove current options
                        $('#etudiant_list').html('');
                        $.each(data, function(k, v) {
                            $('#etudiant_list').append('<option value="' + v + '">' + k + '</option>');
                        });
                    }
                });
                return false;
            });
        })(jQuery);
    </script>

    <!-- script permettant la séléction multiple des matières -->

    <script>
        var eventHandler = function(name) {
            return function() {
                console.log(name, arguments);
                $('#log').append('<div><span class="name">' + name + '</span></div>');
            };
        };
        var $select = $('#select-matieres').selectize({
            create          : false,
            plugins: ['remove_button'],
            onChange        : eventHandler('onChange'),
            onItemAdd       : eventHandler('onItemAdd'),
            onItemRemove    : eventHandler('onItemRemove'),
            onOptionAdd     : eventHandler('onOptionAdd'),
            onOptionRemove  : eventHandler('onOptionRemove'),
            onDropdownOpen  : eventHandler('onDropdownOpen'),
            onDropdownClose : eventHandler('onDropdownClose'),
            onFocus         : eventHandler('onFocus'),
            onBlur          : eventHandler('onBlur'),
            onInitialize    : eventHandler('onInitialize'),
        });
    </script>

{% endblock %}