{% extends '::layoutAdmin.html.twig' %}
{% block body %}
    <form action="{{path('ValiderModification')}}" method="POST" id="MyForm">
        <br>
        <div class="control-group">
            <label for="usr">Nom de matiere:</label>
            <input type="text" class="form-control" id="usr" name="nomMatiere" value="{{matieres.nomMatiere}}" required>
        </div>

        <div class="control-group">
            <label for="usr">Coefficient:</label>
            <input type="text" class="form-control" id="usr" name="coefficient" value="{{matieres.coefficient}}" required>
        </div>
        <!-- parcour de la table module pour l'affichage des module present dans la table -->
        <div class="control-group">
            <label for="usr">Credit:</label>
            <input type="text" class="form-control" id="usr" name="credit"  value="{{matieres.credit}}" required>
        </div>
        <div class="control-group">
            <select name="classe" class="form-control">
                <option value="">Choisir la classe...</option>
                {% if classe is not empty %}
                    {% for clas in classe %}
                        <option value="{{clas.intitule}}">{{clas.intitule}}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div><br>
        <input type="hidden" name="idMatiere" value={{matieres.id}}/>
        <center><input type="submit" value="Submit" type="button" class="btn btn-success"></center>


    </form>
{% endblock %}