{% extends '::layoutAdmin.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#example').DataTable( {
                columnDefs: [ {
                    targets: [ 0 ],
                    orderData: [ 0, 1 ]
                }, {
                    targets: [ 1 ],
                    orderData: [ 1, 0 ]
                }, {
                    targets: [ 4 ],
                    orderData: [ 4, 0 ]
                } ]
            } );
        } );
    </script>
{% endblock %}

{% block body %}
    <h1>Liste des matières :</h1>
    <div>
    <table class="table"  cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom Matiere</th>
        <th>Coefficient Matiere</th>
        <th>Credit matiere</th>
        <th>Classe</th>
        <th colspan="3">Action</th>
      </tr>
    </thead>
    <tbody>
    {% for matiere in matieres %}
      <tr>
      <td>{{matiere.id}}</td>
      <td>{{matiere.nomMatiere}}</td> 
      <td>{{matiere.coefficient}}</td>
      <td>{{matiere.credit}}</td>
      <td>{{matiere.classe}}</td>
        
        <td><a href="{{ path('modifierMatiere', { 'id': matiere.id }) }}"><button type="button" class="btn btn-success">Modifier</button></a><a href="{{ path('deleteMatiere', { 'id': matiere.id })}}"><button type="button" class="btn btn-danger">Supprimer</button></a>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}


