{% extends "::layoutAdmin.html.twig" %}

            {% block body %}

                <h1>Liste des parents :</h1>
                <a href="{{path('ajouter_Parent')}}"><button class="btn btn-success">Ajouter Parent</button></a>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>DateNaissance</th>
                        <th>LieuNaissance</th>
                        <th>Ville</th>
                        <th>Sexe</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    {% for parnt in parent %}
                    <tbody>
                    <tr>
                        <td><a href="{{ path('infosParent', { 'id': parnt.id }) }}">{{ parnt.nom }}</a></td>
                        <td>{{ parnt.prenom }}</td>
                        <td>{{ parnt.dateNaissance|date("m/d/Y", false) }}</td>
                        <td>{{ parnt.lieuNaissance }}</td>
                        <td>{{ parnt.ville }}</td>
                        <td>{{ parnt.sexe }}</td>
                        <td><a href="{{ path('modifier_Parent',{'id':parnt.id,'username':parnt.login}) }}"><button class="btn btn-primary">Modifier</button></a><a href="{{ path('supprimerParent',{'id':parnt.id,'username':parnt.login}) }}"><button class="btn btn-danger">Supprimer</button></a></td>
                    </tr>
                    {% else %}
                        <p>Aucune Parent n'a été trouvé.</p>
                    {% endfor %}
                    </tbody>
                </table>

            {% endblock %}
