{% extends "::layoutAdmin.html.twig" %}

{% block javascript %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>

    <script>
        $(".loading").hide();
        $("#form_recherche").submit(function(){
            $(".loading").show();
            var motcle = $("#motCle").val();
            var DATA = 'motcle=' + motcle;
            $.ajax({
                type: "POST",
                url: "{{ path('etudiant_rechercher')}}",
                data: DATA,
                cache: false,
                success: function(data){
                    $('#resultats_recherche').html(data);
                    $(".loading").hide();
                }
            });
            return false;
        });
    </script>

{% endblock %}

{% block body %}

    <form id="form_recherche" action="{{ path('etudiant_rechercher') }}" method="post">
        <input type="text" id="motCle" class="form-control" name="motcle" placeholder="Chercher un(e) étudiant(e)  . . .">
        <input type="submit" value="Rechercher" />
    </form>


                <h1>Liste des étudiants :</h1>
                <a href="{{path('ajouter_Etudiant')}}"><button class="btn btn-success">Ajouter Etudiant</button></a>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>DateNaissance</th>
                        <th>LieuNaissance</th>
                        <th>Ville</th>
                        <th>Sexe</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    {% for etd in etudiants %}
                    <tbody>
                    <tr>
                        <td><a href="{{ path('infosEtudiant', { 'id': etd.id }) }}">{{ etd.nom }}</a></td>
                        <td>{{ etd.prenom }}</td>
                        <td>{{ etd.dateNaissance|date("m/d/Y", false) }}</td>
                        <td>{{ etd.lieuNaissance }}</td>
                        <td>{{ etd.ville }}</td>
                        <td>{{ etd.sexe }}</td>
                        <td><a href="{{ path('modifier_Etudiant',{'id':etd.id,'username':etd.login}) }}"><button class="btn btn-primary">Modifier</button></a><a href="{{ path('supprimerEtudiant',{'id':etd.id,'username':etd.login}) }}"><button class="btn btn-danger">Supprimer</button></a></td>
                    </tr>
                    {% else %}
                        <p>Aucune préinscrit n'a été trouvée.</p>
                    {% endfor %}
                    </tbody>
                </table>

            {% endblock %}
